<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.bookTitle %></title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1><%= book.bookTitle %></h1>
</body>
</html>