<header>
    <img class="logo" alt="TBR App books logo" src="/images/tbrLogo.svg">
    <button class="mobile-nav-toggle" aria-expanded="false"></button>
    <nav>
        <ul class="primaryNav" data-visible="false">
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/books">Bookshelf</a>
            </li>
            <li>
                <a href="/books/new">Add A Book</a>
            </li>
        </ul>
    </nav>
</header>
