<header>
    <nav>
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/books">Bookshelf</a>
            </li>
            <li>
                <a href="/books/new">Add A Book</a>
            </li>
        </ul>
    </nav>
</header>
