<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBR Books App</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Welcome to TBR Books App!</h1>
    <p>An app for tracking the books in your "to be read pile"</p>
</body>
</html>