<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>TBR Books App</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="hero">
        <h1>Welcome to TBR Books App!</h1>
        <p>An app for tracking the books in your "to be read" pile</p>
    </div>
    <div class="action-items">
        <h2>Let's get Reading!</h2>
        <p>Your reading journey is about to begin. Let us help you keep track of all the books you've read as well as the one's you can't wait to dive into. Don't worry their's no limit to the number of books that can go on your TBR pile!</p>
        <div class="callToAction">
            <a class="linkBtn" href="/books/new">Add a new Book</a>
            <a class="linkBtn" href="/books">View Your Bookself</a>
        </div>
    </div>
    <footer></footer>
</body>

</html>