<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <title>TBR Books App</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="hero contentHeight">
        <h1>Welcome to TBR Books App!</h1>
        <p>An app for tracking the books in your "to be read" pile</p>

        <div class="callToAction">
            <a class="linkBtn" href="/books/new">Add a new Book</a>
            <a class="linkBtn" href="/books">View Your Bookself</a>
        </div>
    </div>
    <footer></footer>
</body>

</html>