@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');

:root {
    /*Colors*/
    --lightPurple: rgb(86, 93, 138);
    --darkPurple: rgb(14, 20, 54);
    --lightBlue: rgb(90, 143, 155);
    --lightGrey: #c7d9dd;
    --lightGreen: rgb(164, 193, 164);
    --lightYellow: rgb(238, 241, 218);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: var(--darkPurple);
}

a {
    text-decoration: none;
    color: var(--lightYellow);
}

li {
list-style: none;
}

header {
    background-color: var(--darkPurple);
    padding: 25px;
}

nav {
    width: 50%;
    color: var(--lightYellow);
}

.primaryNav {
    display: flex;
}

nav a:hover {
    color: var(--lightGreen);
}

h1 {
    font-family: 'Spicy Rice', sans-serif;
}
footer {
    background-color: var(--darkPurple);
    height: 7vh;
}

.contentHeight {
    height: 86vh;
}

.mobile-nav-toggle {
    display: none;
}

/* Homepage */
.hero {
    color: var(--lightYellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/heroImg.jpg), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    background-size: contain;
}

.callToAction {
    gap: 20px;
}

.linkBtn {
    background-color: var(--lightGreen);
    color: var(--darkPurple);
    display: inline-block;
    border-radius: 6px;
}
.linkBtn:hover {
    background-color: var(--lightBlue);
}

/* Add A Book Page/ Edit Page */
.formPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightGrey);
}

.formPageHeading {
    color: var(--lightBlue);
}

/* Form for Create & Update */
.newEditForm {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 20px;
}

.formBtn {
    background-color: var(--lightBlue);
    color: var(--lightYellow);
    border: none;
    border-radius: 20px;
    padding: 8px;
}

.formBtn:hover {
    background-color: var(--lightGreen);
}

/* Index */
.indexPageHeading {
    color: var(--lightPurple)
}

.bookTitle {
    flex-wrap: wrap;
}

.bookTitle:hover {
    color: var(--lightGreen);
}

.indexContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bookContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
}

.book {
    background-color: var(--lightBlue);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookInfo a {
    color: var(--darkPurple);
}

.showContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.showTextContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showTextContent h3 {
    font-weight: 400;
}

.deleteBtn {
    background-color: var(--lightBlue);
    color: var(--lightYellow);
    border: none;
    border-radius: 20px;
    padding: 8px;
    margin-top: 10px;
}

.deleteBtn:hover {
    background-color: var(--lightGreen);
}

.editBtn {
    background-color: var(--lightPurple);
    color: var(--lightGrey);
    font-size: 13px;
    border-radius: 20px;
    padding: 6px 30px;
    margin-top: 10px;
}

.editBtn:hover {
    background-color: var(--darkPurple);
}

.starSize {
    font-size: 24px;
}

/* Media Queries */
@media (max-width: 559px) {
    /* Navigation */
    .primaryNav {
        background-color: var(--lightBlue);
        z-index: 1000;
        inset: 0 0 80%;
        position: fixed;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 40px;
        padding-left: 20px;
        margin: 0;
        display: none;
    }

    .primaryNav[data-visible = 'true'] {
        display: block;
    }
   
    .mobile-nav-toggle {
        display: block;
        color: var(--lightYellow);
        border: none;
        background: transparent;
        background-image: url(../images/hamburgerMenu.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 2000;
        width: 24px;
        aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded = 'true'] {
        background-image: url(../images/close.svg);
    }

    /* Homepage */
    .hero {
        padding: 40px;
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }

    .callToAction {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .linkBtn {
       padding: 2px 8px;
       text-align: center;
    }

    /* Add a Book Page/ Edit Page */
    .formPageHeading {
        margin-top: 20px;
    }

    /* Form */
    .newEditForm {
        padding: 40px;
        gap: 8px;
    }

    label,
    legend {
        font-size: 14px;
    }

    input[type=text] {
        border: 1px solid var(--lightPurple);
        border-radius: 20px;
        padding: 5px 12px;
    }

    fieldset {
        border: 1px solid var(--lightPurple);
        padding: 10px 20px;
        border-radius: 20px;
    }

    .rating {
        display: flex;
        gap: 8px
    }

    /* Index */

    .indexContent h1 {
        margin-top: 50px;
    }

    .bookTitle {
        font-size: 14px;
    }

    .bookAuthor {
        font-size: 12px;
    }

    .book {
        width: 70%;
        height: 150px;
    }
    
}

@media (min-width: 560px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .primaryNav {
        justify-content: space-between;
    }

    /* Homepage */
    h1 {
        font-size: 60px;
    }

    .callToAction {
        margin-top: 30px;
        display: flex;
    }

    .linkBtn {
        padding: 8px 10px;
    }

        /* Add a Book Page/ Edit Page */
        .formPageHeading {
            margin-top: 20px;
        }
    
        /* Form */
        .newEditForm {
            padding: 40px;
            gap: 20px;
        }
    
        input[type=text] {
            border: 1px solid var(--lightPurple);
            border-radius: 20px;
            padding: 5px 12px;
        }
    
        fieldset {
            border: 1px solid var(--lightPurple);
            padding: 10px 20px;
            border-radius: 20px;
        }
    
        .rating {
            display: flex;
            gap: 10px
        }

        .formBtn {
            padding: 15px;
        }
    
        .indexContent h1 {
            margin-top: 20px;
        }

        .bookContent {
            gap: 20px;
        }
    
        .bookTitle {
            font-size: 16px;
        }
    
        .bookAuthor {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .book {
            width: 400px;
            height: 200px;
        }
}